SITE_TITLE=SlashGIF Status
SITE_DESCRIPTION=SlashGIF API and Website Status.
SITE_AUTHOR=Shane
SITE_HOME_URL=https://slashgif.com/
SITE_LOGO=https://slashgif.com/static/images/slashgif.png

STATUS_A_SITE=SlashGIF Website|Application Installs|https://slashgif.com/
STATUS_B_RALPH=Ralph Site|All of It|http://www.notasiteasdf.com/
